{% extends "layout.html" %}
{% block title %}
Pincode Search for Covid 19 Vaccination
{% endblock %}
{% block head %}
{{ super() }}
<script async src="/static/script.min.js"></script>
{% endblock %}
{% block content %}
<div class="container content">
    <h3 id="heading">Vaccination Centres in India</h3>
    <p id="vaccine_date" class="small">Note: These vaccination centers are for today only</p>
     <hr>

     <form method="POST" action="{{ url_for('pincode_page') }}">
		<label for="pincode">Pincode:</label>
		<input type="text" id="pincode" name="pincode" required>
		<button type="submit">Search</button>
	</form>
        
    </div>
</div>
	
{% endblock %}
